footer {
  padding-block: 20px;
  color: #6b6a6a;
}

@media (max-width: 1200px) {
  footer p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  footer p {
    font-size: 1.1rem;
  }
}
