* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--c5);
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

.container-geral {
  max-width: 1200px;
  margin: 0 auto;
}
