:root {
  --light-color: #e1e1e1;
  --darker-color: #1e1e1e;
}

body {
  background-color: var(--darker-color);
  color: var(--light-color);
}

.principal {
  margin: 10px 30px 3px 30px;
}

.titulo1 {
  font-size: 45px;
  margin-bottom: 35px;
}

.titulo3 {
  font-size: 18px;
}

/* Scrollbar CSS - Based on Youtube's scrollbar */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Navegacao CSS */
.navegacao_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.navegacao_list a, a:visited {
  text-decoration: none;
  color: var(--light-color);
}

.navegacao_list a:hover {
  text-decoration: underline;
}

/* About CSS */
.about {
  background-color: var(--light-color);
  color: var(--darker-color);
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}

.profile_img {
  text-align: center;
  width: 150px;
  border-radius: 50%;
  padding: 5px;
}

.about .titulo1 {
  margin: 5px;
}

.link_instagram, .link_instagram:visited {
  text-decoration: none;
  color: black;
}

.link_instagram:hover {
  text-decoration: underline;
  color: rgba(54, 52, 52, 0.5);
  cursor: pointer;
}

.about p {
  font-size: 18px;
  margin-bottom: 0;
}

.techs_logo {
  display: inline;
  width: 60px;
  margin-top: 5px;
}

/* Projects CSS */
.projects {
  height: 800px;
  background-color: var(--darker-color);
  color: var(--light-color);
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}

.projects_carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: var(--light-color);
  margin: 10px;
  padding: 10px;
  width: 600px;
  height: 600px;
  border-radius: 3px;
}

.project_info {
  color: var(--darker-color);
}

.description_dark {
  color: #1e1e1e;
}

/* Contact CSS */
.contacts {
  height: 200px;
  background-color: var(--light-color);
  color: var(--darker-color);
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}

.line_contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.email {
  color: rgba(54, 52, 52, 0.9);
  text-decoration: none;
  margin-bottom: 0;
}

.email:hover {
  color: rgba(54, 52, 52, 0.5);
  text-decoration: underline;
}

.contact_email p {
  margin-bottom: 0;
}

.contact_logo {
  display: inline;
  margin-right: 5px;
  width: 40px;
}

/* Media Querys */

@media (max-width: 991.98px) { 
  .about {
    height: 420px;
  }
}

@media (max-width: 767.98px) { 
  .about {
    height: 420px;
  }

  .about p {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) { 
  .about {
    height: 440px;
  }

  .about h3 {
    font-size: 16px;
  }

  .contacts {
    height: 220px;
  }

  .line_contact {
    display: block;
  }

  .contact_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .contact_logo {
    margin-top: 5px;
  }
}

@media (max-width: 414.02px) { 
  .about {
    height: 470px;
  }

  .about h3 {
    font-size: 16px;
  }

  .techs_logo {
    width: 50px;
  }
}

@media (max-width: 395.02px) { 
  .about {
    height: 485px;
  }

  .techs_logo {
    width: 45px;
  }
}

@media (max-width: 321px) { 
  .about {
    height: 580px;
  }

  .techs_logo {
    width: 55px;
  }

  .contacts {
    height: 230px;
  }
}

